language: c

os: osx
compiler: clang

cache:
- ccache
- directories:
  - $HOME/.cache/pip
  - $HOME/Library/Caches/pip

git:
  submodules: false

matrix:
  include:
    - osx_image: xcode6.4
      # Without an env, it ends up with all the env variables from the matrix
      # (so, in practice, the last value of each)
      env:
      - VARIANT=
      - GIT_CINNABAR_EXPERIMENTS=true
      - MERCURIAL_VERSION=4.5
    - osx_image: xcode7.3
      env:
      - VARIANT=asan
      - GIT_CINNABAR_EXPERIMENTS=true
      - MERCURIAL_VERSION=4.5
    - osx_image: xcode6.4
      env:
      - VARIANT=
      - GIT_CINNABAR_OLD_HELPER=1
      - MERCURIAL_VERSION=4.5

addons:
  artifacts:
    paths: artifacts
    target_paths: /artifacts

before_install:
  - make -f CI.mk before_install

before_script:
  - make -f CI.mk before_script

script:
  - make -f CI.mk script && make -f CI.mk script NO_BUNDLE2=1
