name: python checks
on:
  push:
    paths:
      - '**.py'
      - '.github/workflows/python.yml'
  pull_request:
    paths:
      - '**.py'
      - '.github/workflows/python.yml'
jobs:
  ruff:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1
        with:
          version: 0.5.5
      - uses: chartboost/ruff-action@v1
        with:
          version: 0.5.5
          args: 'format --diff'
