name: taskcluster extra workers
on: [push]
jobs:
  osx:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-13
            workerType: osx
            pyver: '3.9.14'
          - os: macos-14
            workerType: macos
            pyver: '3.11.7'
    runs-on: ${{ matrix.os }}
    env:
      secret: ${{ secrets.SECRET }}
      TC_WORKER_TYPE: ${{ matrix.workerType }}
      PATH: /usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Library/Frameworks/Python.framework/Versions/2.7/bin
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.pyver }}
      - run: python3 -m pip install pip==20.3.4 wheel==0.37.0 --upgrade
      - run: CI/start-worker.sh worker-$TC_WORKER_TYPE $TC_WORKER_TYPE
